<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>TemplateMailer</title>
    <style type='text/css'>
      body { background-color: #ffffff; } .main { background-color: rgb(255,
      255, 255); color: black; margin: auto; padding: 10px; width: 70%;
      box-shadow: 7px 6px 5px #888888; display: grid; justify-content: center; }
      .logo { text-align: center; height: fit-content; } .message { text-align:
      center; height: fit-content; } button { background-color: #9E4CEB; border:
      none; color: white; padding: 15px 32px; text-align: center;
      text-decoration: none; display: inline-block; font-size: 16px;
      border-radius: 40px; cursor: pointer; } button hover { background-color:
      #2e0553; } .footer { text-align: center; font-size: 10px; } .paragraphe {
      text-align: justify; font-size: 18px; } .link { color: white; }
    </style>
  </head>
  <body>
    <div class='main'>
      <div class='logo'>
        <img
          src='https://res.cloudinary.com/glom/image/upload/v1631036333/logo512_kg9ukn.png'
          alt='Logo'
          width='150'
        />
      </div>
      <div class='message'>
        <h1>Reinitialisation du mot de passe DRAIVWAY</h1>
        <h2>Mr/Mde
          {{first_name}}
          {{last_name}}, votre mot de passe a été reinintialisé avec succès.</h2>
        <p class='paragraphe'>Nous ne vous demanderons jamais votre mot de passe
          et nous vous déconseillons fortement de le partager avec qui que ce
          soit.</p>
        <br />
        <p class='paragraphe'>Connectez vous avec votre nouveau mot de passe:
          {{new_password}}.</p>
        <button><a href={{connexion}} class='link'>Connectez-vous</a></button>
      </div>
    </div>
    <br />
    <div class='footerr'>
      <p class='footer'>DRAIVWAY est une plateforme de gestion d'Auto-Ecoles,
        qui digitalise toutes actions faites par ces dernières au quotidien.
        @Developeurs GLOM
      </p>
    </div>
  </body>
</html>