<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Squoolr Reset Password Link</title>
    <style type='text/css'>
      body { background-color: #ffffff; } .main { background-color: rgb(255,
      255, 255); color: black; margin: auto; padding: 10px; width: 70%;
      box-shadow: 7px 6px 5px #888888; display: grid; justify-content: center; }
      .logo { text-align: center; height: fit-content; } .message { text-align:
      center; height: fit-content; } button { background-color: #9E4CEB; border:
      none; color: white; padding: 15px 32px; text-align: center;
      text-decoration: none; display: inline-block; font-size: 16px;
      border-radius: 40px; cursor: pointer; } .footer { text-align: center;
      font-size: 10px; } .link { color: white; } .paragraphe { font-size: 18px;
      text-align: justify; }
    </style>
  </head>

  <body>
    <div class='main'>
      <div class='logo'>
        <img
          src='https://res.cloudinary.com/glom/image/upload/v1631036333/logo512_kg9ukn.png'
          alt='Logo'
          width='150'
        />
      </div>
      <div class='message'>
        <h1>Reinitialisation du mot de passe Squoolr</h1>
        <h2>Mot de passe oublié ?</h2>
        <p class='paragraphe'>Vous pouvez le reinitialiser en cliquant sur le
          bouton ci-dessous. Ce lien ne sera plus valid dans deux et n'est
          utilisable qu'une seule fois Si vous n'avez pas demandé un nouveau mot
          de passe, veillez ignorer cet email</p>
        <br />
        <p>Date d'expiration: {{expires_at}}</p>
        <button><a
            href={{reset_password_link}}
            class='link'
          >Reinitialiser</a></button>
      </div>
    </div>
    <br />
    <div class='footer'>
      <p class='footer'>Squoolr est une plateforme de gestion des etablissements
        universitaires, qui digitalise toutes actions faites par ces dernières
        au quotidien. @Squoolr 2022
      </p>
    </div>
  </body>

</html>