<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DRAIVWAY DEMAND NOTIFICATION</title>
    <style type="text/css">
        body {
            background-color: #ffffff;
        }
        .main {
            background-color: rgb(255, 255, 255);
            color: black;
            margin: auto;
            padding: 10px;
            width: 70%;
            box-shadow: 7px 6px 5px #888888;
            display: grid;
            justify-content: center;
        }
        .logo {
            text-align: center;
            height: fit-content;
        }
        .message {
            text-align: center;
            height: fit-content;
        }
        .footer {
            text-align: center;
            font-size: 10px;
        }
        .paragraphe {
            font-size: 18px;
            text-align: justify;
        }
    </style>
</head>
<body>
    <div class="main">
        <div class="logo">
            <img src="https://res.cloudinary.com/glom/image/upload/v1631036333/logo512_kg9ukn.png" alt="Logo" width="150">
        </div>
        <div class="message">
            <h1>Bienvenue sur DRAIVWAY!</h1>
            <h2>{{owner_name}},</h2>
            <p class="paragraphe">Votre demande d'adhésion en tant que {{school_name}} sur DRAIVWAY est en cours de validation. Vous allez recevoir 
                un mail lorsque votre demande sera effectivement validée. Restez connecté !</p>
        </div>
    </div>
    <br>
    <p class="footer">DRAIVWAY est une plateforme de gestion 
            d'Auto-Ecoles, qui digitalise toutes
            actions faites par ces dernières au quotidien.
             @Developeurs GLOM 
    </p>
</body>
</html>